// Color
$color-white: #ffffff !default;
$color-gray: #b7bfcc !default;

$color-message-nickname-01: #ea4130 !default;
$color-message-nickname-02: #df1962 !default;
$color-message-nickname-03: #ab29cc !default;
$color-message-nickname-04: #6634cc !default;
$color-message-nickname-05: #3949bf !default;
$color-message-nickname-06: #4097f6 !default;
$color-message-nickname-07: #40bcd5 !default;
$color-message-nickname-08: #2f9688 !default;
$color-message-nickname-09: #5aaf4b !default;
$color-message-nickname-10: #90c341 !default;
$color-message-nickname-11: #d99100 !default;
$color-message-nickname-12: #f79700 !default;

$color-text-message: #f5f5f5 !default;
$color-text-title: #333333 !default;
$color-text-input: #2b2b2b !default;

$color-more-message-background: rgba(47, 58, 77, 0.8) !default;

$color-background-gray: #f6f8fa !default;
$color-border-main: #444 !default;
$color-border-top: #444 !default;
$color-border-bottom: #444 !default;
$color-border-input: #444 !default;
$color-border-input-focus: #7b5fd9 !default;

$color-input-background: #d4d2d2 !default;
$color-input-text: #3a414d !default;
$color-input-text-secondary: #b9b4b4 !default;
$color-input-shadow: #bdb0ff !default;

$color-box-shadow: #bdb0dd !default;
$color-background-main: #313131;
$color-background-secondary: #252525;
$color-background-tertiary: #1f1f1f;
$color-link-text: #319ede !default;

$color-spinner-default: #a5b3cd !default;

$color-button-spinner: #35a300 !default;
$color-button-border: #38b349 !default;
$color-button-border-disabled: #95d296 !default;
$color-button-background: #3fcc52 !default;
$color-button-background-disabled: #98dc99 !default;

$color-login-title: #67769a !default;

// Font
$font-family-default: 'Lato';
$font-weight-default: 400;

$content-message-input-default: 'Type a Message';
$content-message-input-empty: '';
